<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5a1d1945e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/style.css">
    <title>Home</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="#">
                <img src="/images/fitness-market-logov2.png">
            </a>
        </div>
        <div class="nav">
            <ul class="secciones">
                <li><a href="#">
                        Home
                    </a></li>
                <li><a href="#">
                        Productos
                    </a></li>
                <li><a href="#">
                        Contacto
                    </a></li>
            </ul>
            <input type="text" name="buscador" id="buscador" placeholder="Buscar equipos, suplementos...">
        </div>
        <div class="login-cart">
            <ul class="login">
                <li><a href="#">
                        Iniciar Sesión
                    </a></li>
                <li><a href="#">
                        Registrate
                    </a></li>
            </ul>

            <div class="carrito-container">
                <a href="#">
                    <img src="/images/shopping-cart.svg">
                </a>
            </div>
        </div>
    </header>
 
    <main class="home-main">
        <section class="seccion-musculacion">
            <div class="cabecera-musculacion">
                <div class="txt-boton">
                    <h2>Equipos Musculación</h2>
                    <h4> Equipos para aumentar la masa muscular</h4>
                    <button class="ver-mas-btn">Ver Más</button>
                </div>
                <div class="img-container">
                    <img src="/images/img-musculacion.png">
                </div>
            </div>
            <h2 class="destacados">Destacados de la sección</h2>
          
            <div class="items-container">
                <article class="product-item">
                    <div class="imagen-producto">
                        <img src="/images/mancuernas.png">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Mancuernas a Rosca</p>
                        <p class="precio">$ 875</p>
                    </div>
                    <button class="agregar-carrito-btn">Agregar al Carrito</button>
                </article>
                <article class="product-item">
                    <div class="imagen-producto">
                        <img src="/images/mancuernas.png">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Mancuernas a Rosca</p>
                        <p class="precio">$ 875</p>
                    </div>
                    <button class="agregar-carrito-btn">Agregar al Carrito</button>
                </article>
                <article class="product-item">
                    <div class="imagen-producto">
                        <img src="/images/mancuernas.png">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Mancuernas a Rosca</p>
                        <p class="precio">$ 875</p>
                    </div>
                    <button class="agregar-carrito-btn">Agregar al Carrito</button>
                </article>
            </div>
        </section>
        <section class="seccion-musculacion">
            <div class="cabecera-musculacion">
                <div class="txt-boton">
                    <h2>Equipos Musculación</h2>
                    <h4> Equipos para aumentar la masa muscular</h4>
                    <button class="ver-mas-btn">Ver Más</button>
                </div>
                <div class="img-container">
                    <img src="/images/img-musculacion.png">
                </div>
            </div>
            <h2 class="destacados">Destacados de la sección</h2>
            <br>
            <div class="items-container">
                <article class="product-item">
                    <div class="imagen-producto">
                        <img src="/images/mancuernas.png">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Mancuernas a Rosca</p>
                        <p class="precio">$ 875</p>
                    </div>
                    <button class="agregar-carrito-btn">Agregar al Carrito</button>
                </article>
                <article class="product-item">
                    <div class="imagen-producto">
                        <img src="/images/mancuernas.png">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Mancuernas a Rosca</p>
                        <p class="precio">$ 875</p>
                    </div>
                    <button class="agregar-carrito-btn">Agregar al Carrito</button>
                </article>
                <article class="product-item">
                    <div class="imagen-producto">
                        <img src="/images/mancuernas.png">
                    </div>
                    <div class="descripcion">
                        <p class="nombre">Mancuernas a Rosca</p>
                        <p class="precio">$ 875</p>
                    </div>
                    <button class="agregar-carrito-btn">Agregar al Carrito</button>
                </article>
            </div>
        </section>

    </main>

</body>

</html>