<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d69b56a62e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/header-footer.css" rel="stylesheet">
        <link href="/css/listado.css" rel="stylesheet">
        <link href="/css/detail.css" rel="stylesheet">

        <title>Listado de productos</title>
    </head>
    <body>
        <header>
            
        </header>
        
        <main class="main-listado">

            <section class="hamburguer-menu">
                <p><a href="#"><i class="fas fa-bars"></i></a></p>
            </section>
            <section class="side-bar">
                <h2 class="side-bar-title">Categorías</h2>
                <ul class="categories">
                    <li><a href="#" class="category-item">Ropa</a></li>
                    <li><a href="#" class="category-item">Suplementos</a></li>
                    <li><a href="#" class="category-item">Equipos de entrenamientos</a></li>
                </ul>
    
            </section>

            <section class="products-listado">

                <article>
                    <div class="imagen-listado">
                        <a href="productDetail">
                            <img src="/images/mancuernas.png">
                        </a>
                    </div>
                    <div class="descripcion-listado">
                        <h4 class="nombre-listado">Mancuernas a Rosca</h4>
                        <p class="precio-listado">$ 875</p>
                        <p class="envio-listado">Envío gratis</p>
                    </div>
                    <button class="agregar-listado">Agregar al Carrito</button>
                </article>

                <article>
                    <div class="imagen-listado">
                        <a href="productDetail">
                            <img src="/images/mancuernas.png">
                        </a>
                    </div>
                    <div class="descripcion-listado">
                        <h4 class="nombre-listado">Mancuernas a Rosca</h4>
                        <p class="precio-listado">$ 875</p>
                        <p class="envio-listado">Envío gratis</p>
                    </div>
                    <button class="agregar-listado">Agregar al Carrito</button>
                </article>

                <article>
                    <div class="imagen-listado">
                        <a href="productDetail">
                            <img src="/images/mancuernas.png">
                        </a>
                    </div>
                    <div class="descripcion-listado">
                        <h4 class="nombre-listado">Mancuernas a Rosca</h4>
                        <p class="precio-listado">$ 875</p>
                        <p class="envio-listado">Envío gratis</p>
                    </div>
                    <button class="agregar-listado">Agregar al Carrito</button>
                </article>

                <article>
                    <div class="imagen-listado">
                        <a href="productDetail">
                            <img src="/images/mancuernas.png">
                        </a>
                    </div>
                    <div class="descripcion-listado">
                        <h4 class="nombre-listado">Mancuernas a Rosca</h4>
                        <p class="precio-listado">$ 875</p>
                        <p class="envio-listado">Envío gratis</p>
                    </div>
                    <button class="agregar-listado">Agregar al Carrito</button>
                </article>

                <article>
                    <div class="imagen-listado">
                        <a href="productDetail">
                            <img src="/images/mancuernas.png">
                        </a>
                    </div>
                    <div class="descripcion-listado">
                        <h4 class="nombre-listado">Mancuernas a Rosca</h4>
                        <p class="precio-listado">$ 875</p>
                        <p class="envio-listado">Envío gratis</p>
                    </div>
                    <button class="agregar-listado">Agregar al Carrito</button>
                </article>

                <article>
                    <div class="imagen-listado">
                        <a href="productDetail">
                            <img src="/images/mancuernas.png">
                        </a>
                    </div>
                    <div class="descripcion-listado">
                        <h4 class="nombre-listado">Mancuernas a Rosca</h4>
                        <p class="precio-listado">$ 875</p>
                        <p class="envio-listado">Envío gratis</p>
                    </div>
                    <button class="agregar-listado">Agregar al Carrito</button>
                </article>

            </section>

        </main>

        <footer>
    
        </footer>
    </body>
</html>