<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/login.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>Login</title>
</head>
<body class="login-body">
    <header>
        <div class="login-flexlogo">
            <div class = "login-header"><a href="/home"><img class="login-logo" src = "img/logo.png"></a></div>
        </div>
        
    
    </header>

    <main>
        <div class="login-contentbox">
            <h2>Login</h2>
            <form class="login-form">
                <div class="login-inputbox">
                    <label for="email">Email registrado:</label>
                    <input type="email" class="login-input" placeholder="Ingresar Email" name="email" id="email">
                </div>

                <div class="login-inputbox">
                    <label for="pas">Contraseña:</label>
                    <input type="password" class="login-input" placeholder="Ingresar Contraseña" name="password" id="password">
                </div>

                <div class="login-recordarme">
                    <label><input type= "checkbox" name="">Recordarme</label>
                </div>

                <div>
                    <input type= "submit" value="Iniciar sesión" name="singin" class="login-button">
                </div>

                <div class=login-registrate>
                    <p>¿Olvidaste tu contraseña? <a href="#">   Recuperala </a></p>
                </div>

                <div class="login-registrate">
                    <p>¿No tienes una cuenta? <a href="/register">   Regístrate</a></p>
                </div>

            </form>
        </div>

    </main>
    
</body>
</html>