* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
    font-family: Helvetica, Arial, sans-serif;
}

.titulo{
    font-size: 20px;
    font-weight: 1000;
    font-family: sans-serif;
    color: #003049;
    text-align: center;
    justify-content: center;
    margin-right: 80px;
}


.contenedor-formulario-edit{
    display: flex;
    align-items: center;
    justify-content: center;

}

.formulario{
    display: flex;
    flex-direction: column;
    margin-right: 100px;
    margin-bottom: 40px;
}


.labelform{
    margin-bottom: 10px;
    padding: 0px;
    font-weight:bold;
    align-self: flex-start;
    font-size: 18px;
    

}


.inputform{
    
    outline: none;
    width: 30vw;

}


.boton{
    color:white;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: 300px;
    border: none;
    outline: none;
    height: 40px;
    width: 30vw;
    background: #0085FF;
    color: #fff;
    font-size: 18px;
    border-radius: 20px;
    margin-top: 5%;
    margin-bottom: 5%;
}

.no-valido{
    border: 1px solid red;
}

.valido{
    border: 1px solid green;
}

.error{
    color: red;
    font-size: 10px;
    display: block;
    align-self: flex-start;
}