/* Reglas de estilo Fabián*/

* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

 .category-item, .ft-contact {
    text-decoration: none;
    color: white;
}

.categories, .contact, .social-net {
    list-style: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
}

.hamburguer-menu p{
    background-color: #fcbf49;
    border-radius: 5px;
}


.hamburguer-menu:hover {
    background-color: #003049;


}


.side-bar-title {
    padding: 5px 0px;
}

 .product-title {
    padding: 15px 10px 10px;
    text-align: center;
}

.article-purchase{
    display: flex;
    flex-wrap: wrap;
    padding: 5px 10%;
}

.price-label {
    padding: 5px;
}

.article-form{
    width: 50%;
    padding: 5px;
}

.pic {
    width: 100px;
    height: 100px;
    background-color: aquamarine;

}

.article p {
    padding: 10px;
}

.hamburguer-menu p {
    padding: 10px;
}

.side-bar {
    background-color: #fcbf49;
    border-radius: 5%;
    padding: 5px;
    display: none
}

.footer {
    display: flex;
    color: white;
    background-color: #003049;
    flex-wrap: wrap;
    padding: 10px 5px 5px ;
    margin-top: 10px;
}

.ft-title {
    font-size: 1.375rem;
    padding-bottom: 0.625rem;
}

.footer div {
    padding: 1.25rem;
    min-width: 12.5rem;
    width: 100%;
}

.ft-social {
    display: flex;
    align-items: center;
}

.ft-social-list {
    display: flex;
    list-style: none;
    justify-content: center;
    border-top: solid 1px white;
    padding-top: 1.25rem;
}

.ft-social-list li {
    margin: 0.5rem;
    font-size: 1.25rem;
    text-align: center;
}

.fa-facebook, .fa-twitter, .fa-instagram {
    color: white;
}

@media (min-width:576px) {
    .footer {
        justify-content: space-around;
    }

    .footer div {
        width: 50%;
    }

    .ft-social-list {
    border-top: none;
    }

    .article {
        width: 60%;
    }

    .pic {
        width: 40%;
        background-color: aquamarine;
    }
}

@media (min-width:992px) {
    .footer {
        justify-content: space-evenly;
        max-width: 1200px;
    }

    .footer div {
        width: 25%;
    }

    .side-bar {
        display: flex;
        flex-direction: column;
    }

    .hamburguer-menu {
        display: none;
    }

}
/* Carrito */

main .carrito{
    width: 100%;
    margin: auto;
    padding: 20px;
    background-color: red;
}

.titulo-carrito{
    font-size: 20px;
    color: #f6f4d2;
    background-color: #335c67;
    text-align: center;
    opacity: 0.7;
    margin-left: 10px;
    border: solid 1px rgb(100, 100, 100);
    box-shadow: 5px;
    width: 20%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    position: relative;
}

.producto-carrito{
    background-color: #f6f4d2;
    border-top: #ebebeb;
    margin-bottom: 10px;
    margin-left: 10px;
    padding: 15px;
    position: relative;
    display: flex;
    flex-direction: row;
    width: 95%;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
}

.foto-carrito{
    display:block;
    margin: auto;
    width: 25%;
}

.descripcion-carrito{
    width: 25%;
    text-align: center;
    display: inline-flex;
    flex-direction: column;
    position: relative;
}

.descripcion-carrito h4{
    margin-top: 20px;
}

.descripcion-carrito p{
    color: #003049;
    margin-top: 20px;
}

.descripcion-carrito button{
    color: white;
    background-color: #D62828;
    text-align: center;
    border-radius: 5px;
    margin-left: 60px;
    margin-top: 40px;
    width: 50%;
}

.descripcion-carrito button:link{
    color: white;
    text-decoration-line: none;
}

.descripcion-carrito button:active{
    color: white;
    text-decoration-line: none;
}

.descripcion-carrito button:visited{
    color: white;
    text-decoration-line: none;
}

.descripcion-carrito button:hover{
    color: #9E2A2B;
}

.unidades-carrito{
    text-align: center;
    align-self: center;
    width: 25%;
}

.precio-carrito{
    color: #003049;
    text-align: center;
    align-self: center;
    width: 25%;
}

.total-carrito{
    align-self: flex-end;
    font-size: 20px;
    color: #f6f4d2;
    background-color: #335c67;
    text-align: center;
    opacity: 0.7;
    border: solid 1px rgb(100, 100, 100);
    margin: -10px 10px 40px 0px;
    box-shadow: 0px 0px 10px rgb(100, 100, 100);
    width: 20%;
}

.continuar-carrito{
    align-self: center;
    color: white;
    width: 25%;
    position: relative;
}

.continuar-carrito button{
    color: white;
    font-size: 20px;
    background-color: #0085ff;
    padding: 5px 35px 5px 35px;
    border-radius: 5px;
    align-self: center;
}

.continuar-carrito button:link{
    color: white;
    text-decoration-line: none;
}

.continuar-carrito button:active{
    color: white;
    text-decoration-line: none;
}

.continuar-carrito button:visited{
    color: white;
    text-decoration-line: none;
}

.continuar-carrito button:hover{
    color: #003049;
}

/* Carrito */
