<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5a1d1945e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/crearProducto.css">
    <title>Home</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div class="titulo">
                <h1>Crear nuevo Producto</h1>
            </div>
            <div class="contenedor-formulario-edit">
                <form class="formulario" action="/products/create" method="POST" enctype="multipart/form-data">
                    <label class="labelform" for="nombre">Nombre:</label>
                    <input class="inputform" type="text" name="nombre" id="nombre">
                    <br>
                    <label class="labelform" for="desc">Descripción:</label>
                    <input class="inputform" type="text" name="desc" id="desc">
                    <br>
                    <label class="labelform" for="marca">Marca:</label>
                    <input class="inputform" type="text" name="marca" id="marca">
                    <br>
                    <label for="imagen-producto">Foto:</label>
                    <input type="file" name="imagen-producto" id="imagen-producto">
                    <br>
                    <label class="labelform" for="categoria"></label>
                    <select class="labelform" name="categoria" id="categoria">
                        <option value="1">Indumentaria </option>
                        <option value="2">Suplementos</option>
                        <option value="3">Equipamiento</option>
                        <option value="4">Musculación</option>
                    </select>
                    <br>
                    <label class="labelform" for="precio">Precio:</label>
                    <input class="inputform" type="text" name="precio" id="precio">
                    <br>
                    <input class="inputform boton" type="submit" value="Crear Producto">
                </form>
            </div>

        </main>

        <script src="/js/front-end.js"></script>
        
        <%- include('./partials/footer') %>

</body>

</html>