<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/5a1d1945e0.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/header-footer.css">
    <link rel="stylesheet" href="/css/crearProducto.css">
    <title>Home</title>
</head>

<body>
    <%- include('./partials/header') %>
        <main>
            <div>
                <h1>Edición de Productos</h1>
            </div>
            <form action="/products" method="GET">
                <label for="id">Id del producto que desea editar:</label>
                <input type = "text" name= "id" id= "id">
                <label for="nombre">Nombre:</label>
                <input type="text" name="nombre" id="nombre">
                <br>
                <label for="desc">Descripción:</label>
                <input type="text" name="desc" id="desc">
                <br>
                <label for="imagen">Foto:</label>
                <input type="file" name="imagen" id="imagen">
                <br>
                <label for="categoria"></label>
                <select name="categoria" id="categoria">
                    <option value="Musculacion">Musculación</option>
                    <option value="Equipamiento">Equipamiento</option>
                </select>
                <br>
                <label for="precio">Precio:</label>
                <input type="text" name="precio" id="precio">
                <br>
                <input type="submit" value="Enviar">
            </form>
        </main>
        <%- include('./partials/footer') %>

</body>

</html>