<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <link href="/css/header-footer.css" rel="stylesheet">
    <link href="/css/login.css" rel="stylesheet">
    <title>Login</title>
</head>
<body class="login-body">
    <%- include('./partials/header') %>
    <main>
        <div class="login-contentbox">
            <h2>Iniciar sesión</h2>
            <form class="login-form" action="/user/login" method="POST">
                <div class="login-inputbox">
                    <label for="email">Email registrado:</label>
                    <input type="email" class="login-input" placeholder="Ingresar Email" name="email" id="email">
                    <span class="error"></span>
                </div>
                <div class="login-inputbox">
                    <label for="pas">Contraseña:</label>
                    <input type="password" class="login-input" placeholder="Ingresar Contraseña" name="password" id="password">
                    <span class="error"></span>
                </div>
                <div class="login-recordarme">
                    <label><input type= "checkbox" name="">Recordarme</label>
                </div>
                <div>
                    <input type= "submit" value="Iniciar sesión" name="singin" class="login-button">
                </div>
                <div class=login-registrate>
                    <p>¿Olvidaste tu contraseña? <a href="#">   Recuperala </a></p>
                    <p>¿No tienes una cuenta? <a href="/user/register">   Regístrate</a></p>
                </div>
            </form>
        </div>
    </main>

    <%- include('./partials/footer') %>

    <script src="/js/valid-login.js"></script>
    
</body>
</html>
