<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <script src="https://kit.fontawesome.com/d69b56a62e.js" crossorigin="anonymous"></script>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet" />

        <link href="/css/normalize.css" rel="stylesheet">
        <link href="/css/header-footer.css" rel="stylesheet">
        <link href="/css/carrito.css" rel="stylesheet">

        <title>Carrito de compras</title>
    </head>
    <body>
        
        <%- include('./partials/header') %>

        <main class="carrito">
            <section>
                <div class="contenedor-carrito">
                <div class="titulo-carrito">
                <h3>Carrito</h3>
                </div>
                <article class="producto-carrito">
                    <div class="foto-carrito">
                    <img src="/images/img-productos/product-1632004612392.jpg">
                    </div>
                    <div class="descripcion-carrito">
                        <h4 class="nombre-carrito">Nombre de producto</h4>
                        <p class="envio-carrito">Tipo de envio</p>
                        <button type="reset">Eliminar</button>
                    </div>
                    <div class="unidades-carrito">
                        <select name="unidades">
                            <option disabled selected>Unidades</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="precio-carrito">
                        <p>Precio</p>
                    </div>
                </article>
                <article class="producto-carrito">
                    <div class="foto-carrito">
                    <img src="/images/img-productos/product-1632005064113.jpg">
                    </div>
                    <div class="descripcion-carrito">
                        <h4 class="nombre-carrito">Nombre de produtcto</h4>
                        <p class="envio-carrito">Tipo de envio</p>
                        <button type="reset">Eliminar</button>
                    </div>
                    <div class="unidades-carrito">
                        <select name="unidades">
                            <option disabled selected>Unidades</option>
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                        </select>
                    </div>
                    <div class="precio-carrito">
                        <p>Precio</p>
                    </div>
                </article>
                
                <div class="total-carrito">
                <h3>Total con envío:</h3>
                </div>
                <div class="continuar-carrito">
                    <button type="submit">Continuar compra</a></button>
                </div>
                </div>

            </section>
        </main>


        <%- include('./partials/footer') %>

    </body>
</html>