<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="/css/register.css" rel="stylesheet">
    <link href="/css/header-footer.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <title>Sing-Up</title>
</head>

<body>
    <header>
        <div class="logo">
            <a href="home">
                <img src="/images/logo.png">
        </div>
        <div class="nav">
            <ul class="secciones">
                <li><a href="home">
                        Home
                    </a></li>
                <li><a href="listadoProd">
                        Productos
                    </a></li>
                <li><a href="#">
                        Contacto
                    </a></li>
            </ul>
            <input type="text" name="buscador" id="buscador" placeholder="Buscar equipos, suplementos...">
        </div>
        <div class="login-cart">
            <ul class="login">
                <li><a href="login">
                        Iniciar Sesión
                    </a></li>
                <li><a href="register">
                        Registrate
                    </a></li>
            </ul>

            <div class="carrito-container">
                <a href="productCart">
                    <img src="/images/shopping-cart.svg">
                </a>
            </div>
        </div>
    </header>
    <main>
        <div class="register-contentbox">
            <h2>Sing-up</h2>
            <form class="register-form">
                <div class="register-inputbox">
                    <label for="nombre">Nombre:</label>
                    <input type="text" class="register-input" placeholder="Ingresar nombre" name="nombre" id="nombre">
                </div>

                <div class="register-inputbox">
                    <label for="apellido">Apellido:</label>
                    <input type="text" class="register-input" placeholder="Ingresar apellido" name="apellido"
                        id="apellido">
                </div>


                <div class="register-inputbox">
                    <label for="email">Email:</label>
                    <input type="email" class="register-input" placeholder="Ingresar Email" name="email" id="email">
                </div>

                <div class="register-inputbox">
                    <label for="pas">Contraseña:</label>
                    <input type="password" class="register-input" placeholder="Ingresar Contraseña" name="password"
                        id="password">
                </div>

                <div class="register-inputbox register-confirmopass">
                    <label for="pas">Confirmar contraseña:</label>
                    <input type="password" class="register-input" placeholder="Ingresar Contraseña" name="password"
                        id="password">
                </div>


                <div>
                    <input type="submit" value="Registrarme" name="singin" class="register-button">
                </div>

                <div class="register-login">
                    <p>¿Ya tenes una cuenta? <a href="/login"> Inicia sesión </a></p>
                </div>
            </form>
        </div>


    </main>
    <footer class="footer">
        <div class="ft-categories">
            <h2 class="ft-title">Categorías</h2>
            <ul class="categories">
                <li><a href="#" class="category-item">Ropa</a></li>
                <li><a href="#" class="category-item">Suplementos</a></li>
                <li><a href="#" class="category-item">Equipos de entrenamientos</a></li>
            </ul>
        </div>
        <div class="ft-help">
            <h2 class="ft-title">Ayuda</h2>
        </div>
        <div class="ft-contact">
            <h2 class="ft-title">Contacto</h2>
            <ul class="contact">
                <li><a href="#" class="ft-contact">Dirección</a></li>
                <li><a href="#" class="ft-contact">Teléfono</a></li>
                <li><a href="#" class="ft-contact">Whatsapp</a></li>
            </ul>
        </div>
        <div class="ft-social">
            <ul class="ft-social-list">
                <li><a href="#"><i class="fab fa-facebook"></i></a></li>
                <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                <li><a href="#"><i class="fab fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>


</body>

</html>