<footer class="footer">
    <div class="ft-categories">
        <h2 class="ft-title">Categorías</h2>
        <ul class="categories">
            <li><a href="#" class="category-item-footer">Ropa</a></li>
            <li><a href="#" class="category-item-footer">Suplementos</a></li>
            <li><a href="#" class="category-item-footer">Equipos de entrenamientos</a></li>
        </ul>
    </div>
    <div class="ft-help">
        <h2 class="ft-title">Ayuda</h2>
    </div>
    <div class="ft-contact">
        <h2 class="ft-title">Contacto</h2>
        <ul class="contact">
            <li><a href="#" class="ft-contact">Dirección</a></li>
            <li><a href="#" class="ft-contact">Teléfono</a></li>
            <li><a href="#" class="ft-contact">Whatsapp</a></li>
        </ul>
    </div>
    <div class="ft-social">
        <ul class="ft-social-list">
            <li><a href="#"><i class="fab fa-facebook"></i></a></li>
            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            <li><a href="#"><i class="fab fa-instagram"></i></a></li>
        </ul>
    </div>
</footer>